html(lang="us")
  head
   meta(charset="utf-8")
   title messages
  body
    h1.
      Messages
    ol
      each msg, idx in messages
        li From: #{yp.get(msg.author).name}
          textarea(style="width:100%; height:90px;")
            = msg.msg