html(lang="us")
  head
    meta(charset="utf-8")
    title Logs Client
  body
    header(id="header",class="header")
      h1.
        Logs client
      nav(id="nav")
        ul
          li(id="inbox")
            a(href="#") Inbox
          li(id="contacts")
            a(href="#") Contacts
          li(id="compose")
            a(href="#") Compose
    section(id="status")
    section(id="content")
    footer(id="footer")
    script(src="/client.js")