html(lang="us")
  head
   meta(charset="utf-8")
   title Compose your message
  body
    form(action="post", method="post")
      div
        | alias:
        textarea(style="width:100%;")
          if to
            | #{to}
      div
        | address:
        textarea(name='to',style="width:100%; height:110px;")
          if to
            | #{yp.getPem(to)}
      div
        | msg: 
        textarea(name='msg',style="width:100%; height:90px;")
      div
        input(type='submit', value='Send')
